// colors
$french-sky-blue: #83BCFF;
$light-sky-blue: #97D2FB;
$dark-sky-blue: #0152b2;
$pink: #FFDDEB;
$alice-blue: #E1EFF6;
$white: white;
$opaque-white: rgba(255, 255, 255, 0.2);
$opaque-white-1: rgba(255, 255, 255, 0.7);
$off-white: #f2f8fe;
