@import "./../../../global/mixins/projects";
@import "./../../../global//sass/colors";

.ccGraphic {
    height: 300px;
}

.crewCutsBody {
    background-color: $crewcuts-body;


//Responsive- Small screens
    .crewCutsContent { 
        margin-left: 5%;
        margin-right: 5%;
  
    .header {
        @include projectHeaders;
    }
    .subHeader{
        @include projectSubHeaders;
    }
    .content {
        @include content;
    }
    .percents {
        @include percents;
    }

    .boldContent {
        @include boldContent;
    }

    .center {
        @include center;
    }

    .bold {
        @include bold;
    }

    .wrapper-1 {
     
        // margin-bottom: 5%;
        margin-top: 10%;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        .div1{
   
             grid-area: 1 / 1 / 2 / 2;
            ul {list-style-type: none;
               font-weight: bold;
            }
            }
        .div2 {
          
            grid-area: 1 / 2 / 2 / 4;}
    }

    .wrapper-2 {
        margin-top: 10%;
            display: grid; 
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: 1fr; 
            grid-column-gap: 0px;
            grid-row-gap: 0px; 
           .div1{grid-area: 1 / 1 / 2 / 2;}
           .div2 {grid-area: 1 / 2 / 2 / 4;}
    }

    .wrapper-3 {
        margin-top: 10%;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
       .div1{grid-area: 1 / 1 / 2 / 2;}
       .div2 {grid-area: 1 / 2 / 2 / 4;}
    }
    .wrapper-4 {
        margin-top: 10%;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
       .div1{grid-area: 1 / 1 / 2 / 2;}
       .div2 {grid-area: 1 / 2 / 2 / 4;}
    }

    .wrapper-5 {
        margin-top: 10%;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 

            .div1 { grid-area: 1 / 1 / 2 / 2; } 
            .div2 { grid-area: 1 / 2 / 2 / 3; } 
            .div3 { grid-area: 1 / 3 / 2 / 4; } 
            .div4 { grid-area: 2 / 1 / 3 / 4; } 
            
    }

    .wrapper-6 {
        margin-top: 10%;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 

        .div1 { grid-area: 1 / 1 / 2 / 4; } 
        .div2 { grid-area: 2 / 1 / 3 / 2; } 
        .div3 { grid-area: 2 / 2 / 3 / 3; } 
        .div4 { grid-area: 2 / 3 / 3 / 4; } 
    }



    .wrapper-7 { 
        margin-top: 10%;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 


        

        .div1 { grid-area: 1 / 1 / 2 / 2; } 
        .div2 { grid-area: 1 / 2 / 2 / 4; } 
        .div3 { grid-area: 2 / 1 / 3 / 2; 
        
            ul {list-style-type: none; 
                margin: 0;
                .personaName {font-weight: bold;}
            }
        } 
        .div4 { grid-area: 2 / 2 / 3 / 4; 
        
        } 
        }

        .talkBubbles {
            height: 500px;
            margin: 0;
        }
        .wrapper-8 { 
            
            display: grid; 
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: repeat(3, 1fr); 
            grid-column-gap: 0px;
            grid-row-gap: 0px; 
            
            .div1 { grid-area: 1 / 1 / 2 / 2; margin-top: 5%;} 
            .div2 { grid-area: 1 / 2 / 2 / 4; margin-top: 5%;} 
            .div3 { grid-area: 2 / 1 / 3 / 2; margin-top: 5%;} 
            .div4 { grid-area: 2 / 2 / 3 / 4; margin-top: 5%;} 
            .div5 { grid-area: 3 / 1 / 4 / 2; margin-top: 5%;} 
            .div6 { grid-area: 3 / 2 / 4 / 4; margin-top: 5%;} 
        }


        .wrapper-9 {
       
            .parent-1 {
                margin-top: 5%;
                display: grid; 
                grid-template-columns: repeat(3, 1fr); 
                grid-template-rows: .25fr repeat(2, 1fr); 
                grid-column-gap: 0px;
                grid-row-gap: 0px; 
                .div1 { grid-area: 1 / 1 / 2 / 4; } 
                .div2 { grid-area: 2 / 1 / 4 / 2; } 
                .div3 { grid-area: 2 / 2 / 4 / 4; 
                    
                } 
                .sitemap {
                   height: 500px;
                    margin: 0;
                }
               
            }
            .parent-2 {
                margin-top: 5%;
                display: grid; 
                grid-template-columns: repeat(3, 1fr); 
                grid-template-rows: .25fr repeat(2, 1fr); 
                grid-column-gap: 0px;
                grid-row-gap: 0px; 
                .div1 { grid-area: 1 / 1 / 2 / 4; } 
                .div2 { grid-area: 2 / 1 / 4 / 2; } 
                .div3 { grid-area: 2 / 2 / 4 / 4; 
                    .wireframes {
                        width: 500px;
                    }
                } 
               
            }
            .parent-3 {
                margin-top: 5%;
                display: grid; 
                grid-template-columns: repeat(3, 1fr); 
                grid-template-rows: .25fr repeat(2, 1fr); 
                grid-column-gap: 0px;
                grid-row-gap: 0px; 

                .div1 { grid-area: 1 / 1 / 2 / 4; 
                } 
                .div2 { grid-area: 2 / 1 / 4 / 2; } 
                .div3 { grid-area: 2 / 2 / 3 / 4; } 
                .div4 { grid-area: 3 / 2 / 4 / 4; } 
                .lowFiPrototype{
          
                    width: 1000px;
                   
                }
                .lowFi {
                    width: 500px;
                }
            }

            .parent-4 {
                margin-top: 5%;
                display: grid; 
                grid-template-columns: repeat(3, 1fr); 
                grid-template-rows: .25fr repeat(2, 1fr); 
                grid-column-gap: 0px;
                grid-row-gap: 0px; 

                .div1 { grid-area: 1 / 1 / 2 / 4; 
                } 
                .div2 { grid-area: 2 / 1 / 4 / 2; } 
                .div3 { grid-area: 2 / 2 / 3 / 4; } 
                .div4 { grid-area: 3 / 2 / 4 / 4; } 
                .highFiPrototype {
                    width: 1000px;
                }
                .highFi {
                    width: 500px;
                }
            }
          
        }

    }
}

//Responsive - Medium Screens
// @media only screen and (min-width: 600px) {}

//Responsive - Large screens
//   @media only screen and (min-width: 768px) {}