@import "./../../../global//sass/colors";
  

.project-container {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;


    a:link {
        text-decoration: none;
        
    }


    .project {
       
        padding: 3%;
        background-color: $white;
        margin: 10px;
        box-shadow: 0px 5px 10px $main-shadow;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .div1 {
            text-align: right;
            display: flex;
            height: 100%;
            .div2 {
                // display: inline-block;
                align-self: flex-end;
                padding: 25px;
                text-align: right;
                .project-title {
                    font-size: 50px;
                    color: black;
                    
                  
                    
                }
        
                .project-content {
                    font-size: 15px;
                    color: black;
                    // line-height: 50%;

                    ul {
                        list-style-type: none;
                        text-align: right;
                        // text-align: center;
                        padding-left: 0;
                    }
                   
                
            }
            }

         
        }

       

        .front-graphic {
            height: 400px;
            
        }

        

       
    }

    .project-1:hover {
        background-color: $crewcuts-body;
        transition: 0.5s;
    }
    .project-2:hover {
        background-color: $mpp-light;
        transition: 0.5s;
    }
    .project-3:hover {
        background-color: $alice-blue;
        transition: 0.5s;
    }
    .project-4:hover {
        background-color: $pink;
        transition: 0.5s;
    }

}

@media only screen and (max-width: 1150px) {


    .project-container {
        display: grid;
        grid-template-columns: auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    
    
        a:link {
            text-decoration: none;
            
        }
    
    
        .project {
           
            padding: 3%;
            background-color: $white;
            margin: 10px;
            box-shadow: 0px 5px 10px $main-shadow;
    
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
    
            .div1 {
                text-align: right;
                display: flex;
                height: 100%;
                .div2 {
                    // display: inline-block;
                    align-self: flex-end;
                    padding: 25px;
                    text-align: right;
                    .project-title {
                        font-size: 50px;
                        color: black;
                        
                      
                        
                    }
            
                    .project-content {
                        font-size: 15px;
                        color: black;
                        // line-height: 50%;
    
                        ul {
                            list-style-type: none;
                            text-align: right;
                            padding-left: 0;
                        }
                       
                    
                }
                }
    
             
            }
    
           
    
            .front-graphic {
                height: 400px;
                
            }
    
            
    
           
        }
    
        .project-1:hover {
            background-color: $crewcuts-body;
            transition: 0.5s;
        }
        .project-2:hover {
            background-color: $mpp-light;
            transition: 0.5s;
        }
        .project-3:hover {
            background-color: $alice-blue;
            transition: 0.5s;
        }
        .project-4:hover {
            background-color: $pink;
            transition: 0.5s;
        }
    
    }
    
}

@media only screen and (max-width: 768px) {

    .project-container {
        display: grid;
        grid-template-columns: auto;
        margin-left: 5%;
        margin-right: 5%;



        .project {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(.5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        
            text-align: center;
            padding: 1%;
            width: 400px;
            

            .div1 {
                display: grid;
     
                text-align: center;
                grid-area: 1 / 1 / 2 / 2;

        
            .div2 {
            
                text-align: center;


            .project-content {
                ul {
                    list-style-type: none;
                    text-align: center;
                    padding-left: 0;
                }
            }
            }
            } 
            .div3 {
                grid-area: 2 / 1 / 3 / 2; 
                text-align: center;
            }
            .front-graphic {
                height: 200px;
                
            }
        }
    }
}


@media only screen and (max-width: 576px) {

    .project-container {
        display: grid;
        grid-template-columns: auto;
        margin-left: 1%;
        margin-right: 1%;


        .project {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(.5, 1fr);
            grid-column-gap: 0px; 
            grid-row-gap: 0px;
        
            text-align: center;
            padding: 1%;
            width: 350px;
            

            .div1 {
                display: grid;
     
                text-align: center;
                grid-area: 1 / 1 / 2 / 2;

        
            .div2 {
            
                text-align: center;

                .project-title {
                    font-size: 25px;
                }
                .project-content {
                    font-size: 15px;
                }
            
            }
            } 
            .div3 {
                grid-area: 2 / 1 / 3 / 2; 
                text-align: center;
                
            }

            .front-graphic {
                height: 150px;
               
                
            }
        }
    }
}

