@import "./../../../global/mixins/projects";
@import "./../../../global//sass/colors";

// .ccGraphic {
//     height: 300px;
// }

.mppBody {
//Responsive- Small screens
   
  
    .lightHeader {
        @include lightMppHeaders;
        
    }

    .darkHeader {
        @include darkMppHeaders;
    }
    
    .lightSubHeader{
        @include lightMppSubHeaders;
    }

    .darkSubHeader {
        @include darkMppSubHeaders;
    }

    .content {
        @include content;
    }

    .boldContent {
        @include boldContent;
    }

    .lightContent {
        @include lightMppContent;
    }

    .center {
        @include center;
    }


    .mppContent1 { 
        background-color: $white;
        color: black;
        
    .wrapper-1 {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        .div1{
   
             grid-area: 1 / 1 / 2 / 2;
            ul {list-style-type: none;
               font-weight: bold;
               color: $mpp-dark;
            }
            }
        .div2 {
          
            grid-area: 1 / 2 / 2 / 4;
        .marginDiv {
            margin-top: 5%;
        }
        }
    }



    .wrapper-2 {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
       .div1{grid-area: 1 / 1 / 2 / 2;}
       .div2 {grid-area: 1 / 2 / 2 / 4;}
}
    }

    .mppContent2 {
        background-color: $mpp-dark;;
        .wrapper-4 {
            margin-left: 5%;
            margin-right: 5%;
            .p1 {
                font-style: italic;
            }
            .p2 {
                font-weight: bold;
                font-size: 22px;
                color: $mpp-light;
            }
        }
    }

.mppContent3 {
    background-color: $white;
    color: black;
    .wrapper-3 {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
       .div1{grid-area: 1 / 1 / 2 / 2;}
       .div2 {grid-area: 1 / 2 / 2 / 4;}
    }
        

}






}
