@import "./../../global/sass/colors";


    nav {
        background-color: $white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        position: sticky;
        top: 0;
        box-shadow: 0px 5px 10px $main-shadow;
        
       

        .nav-items {
            display:flex;
            list-style-type: none;
            padding: 0;
            margin-right: 15%;
        
        .nav-item {
            
            
            a {
            color: $main-font-color;
            text-decoration: none; 
            text-transform: lowercase;
            padding: 1rem;
            
            }
            a:hover {
                color: $main-background;
                background-color: $main-font-color;
                padding: 1rem;
                transition: 0.5s;
            }
        }
        }
        

        }

       
    


    .hamburger {
        display: none;
        padding: 1rem 1.5rem;
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            background-color: $main-font-color;
            transition: all 0.5s linear;
            transform-origin: 1px;
        }
    }


    @media only screen and (max-width: 768px) {
        nav {
            position: sticky;
            top: 0;
     
        .nav-items {
        background-color: $main-background;
        position: fixed;
        left: -300%;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        
        }
       
        .hamburger {
            display: block;
            cursor: pointer;
        }
    }

        nav.open {
            width: 100%;
            background-color: $main-background;
            transition: 0.5s;

            
            .nav-items {
                left: 0;
                margin-top: 500px;
                width: 100%;
                text-align: center;
               
                .nav-item {
                   
                    width: 100%;
                    display: inline-block;
                    left: 0;
                    text-align: center;
                   
                    a {
                        color: $main-font-color;
                        text-decoration: none; 
                        text-transform: lowercase;
                        display: block;
                        
                        padding: 2.5rem;
                         
                        
                        }
                        a:hover {
                            color: $main-background;
                            background-color: $main-font-color;
                            transition: 0.5s;
                            display: block;
                           
                        }
                }
            }  
        }


    .open-icon {
        
        .bar-one, 
        .bar-two, 
        .bar-three {
  transition: all 400ms linear;
  transform-origin: 1px;
        }

        .bar-one {
            transform: rotate(0);
          }

          .bar-two {
            opacity: 1;
            transform: translateX(0);
          }

          .bar-three {
            transform: rotate(0);
          }
    }

    .close-icon {
            animation: close 400ms;
            .bar-one {
                transform: rotate(45deg);
              }
    
              .bar-two {
                opacity: 0;
                transform: translateX(20px);
              }
    
              .bar-three {
                transform: rotate(-45deg);
              }

    }

    @keyframes close {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg) scale(0.1);
            
        }
        
    }
    }