@mixin projectHeaders {
    font-weight: lighter;
    font-size: 30px;
}

@mixin projectSubHeaders {
    font-weight: bold;
    font-size: 30px;
}

@mixin content {
    font-size: 15px;
}

@mixin percents {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

@mixin boldContent {
    font-weight: bold;
    font-size: 20px;
}