
@import "./../../../../global/sass/colors";



    .mppNav  {
        background-color: $mpp-light;
        justify-content: center;
        align-items: center;
        width: 100%;
        // top: 0;
        margin-top: 5%;
        margin-bottom: 0%;
        box-shadow: none;
        
       

        .mpp-nav-items {
            display:flex;
            list-style-type: none;
            padding: 0;
       
        
        .mpp-nav-item {
            
            
            a {
            color: $mpp-dark;
            text-decoration: none; 
            // text-transform: lowercase;
            padding: 1rem;
            
            }
            a:hover {
                color: $mpp-light;
                background-color: $mpp-dark;
                padding: 1rem;
                transition: 0.5s;
            }
        }
        }
        }