@import "./../../global/sass/colors";


    footer {
       
        background-color: $main-shadow;
        color: $white;
        // position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        // overflow: hidden;
        padding-top: 5%;
        padding-bottom: 5%;

        .footer-items {
            list-style-type: none;
            margin-right: 10%;
            .footer-item {
                text-align: center;
                
                // line-height: 180%;
                left: 0;
                
                a:link{
                    color: $white;
                    text-decoration: none;
                  
                }
                 a:visited{
                    color: $white;
                    text-decoration: none;
                }


            }
        }
        // .name-tag {
        //     text-align: center;
        //     background-color: $off-white;
        //     color: $dark-sky-blue;
        //     bottom: 0;
        //     overflow: hidden;
        //     margin-bottom: 0;
        //     // padding: 1rem;
        //     padding-top: 5%;
        //     // padding-bottom: 10%;
            
        // }
    }
    
